/* Card container */
.card {
    display: flex;
    background: #0D258C; /* Dark blue background */
    border: 2px solid yellow; /* Yellow border */
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    height: max-content;
    max-width: 1000px;
    margin-bottom: 20px;
    text-align: left;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}
/* Hover effect */
.card:hover {
    transform: scale(1.05);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
}

/* Profile picture */
.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 1% 5% 0% 2%;
}

.card-content{
    display: flex;
    flex-direction: column;
    gap: 15%;
}

/* Name styling */
.name {
    font-size: 27px;
    border-bottom: 3px solid var(--yellow);
    width: max-content;
    margin-bottom: 0.5%;
}

/* Description text */
.description {
    color: var(--yellow);
}

/* Responsive Design */
@media (max-width: 768px) {
    .card {
        width: 95%;
    }
}
