.carousel-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
  }
  
  .carousel-inner {
    --w: 150px;
    --h: 200px;
    --translateZ: calc((var(--w) + var(--h)) + 0px);
    --rotateX: -15deg;
    --perspective: 1000px;
    position: absolute;
    width: var(--w);
    height: var(--h);
    top: 25%;
    left: calc(50% - (var(--w) / 2) - 2.5px);
    z-index: 2;
    transform-style: preserve-3d;
    transform: perspective(var(--perspective));
    animation: rotating 20s linear infinite;
  }

  .carousel-inner:hover{
    animation-play-state: paused;
    
  }
  
  @keyframes rotating {
    from {
      transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(0);
    }
    to {
      transform: perspective(var(--perspective)) rotateX(var(--rotateX)) rotateY(1turn);
    }
  }
  
  .carousel-card {
    position: absolute;
    background:  rgba(var(--color-card),0.5);
    box-shadow: inset 0 0 60px 20px rgb(0, 0, 0, 0.1);
    transform-style: preserve-3d;
    border-radius: 12px;
    overflow: hidden;
    inset: 0;
    transform: rotateY(calc((360deg / var(--quantity)) * var(--index))) translateZ(var(--translateZ)) ;
    background-size: cover;
    transition: 2s ease-in-out;
    background-position: center;
    height: 250px;
    width: 200px;
    border: 2px var(--gray) solid;

    &, .carousel-content {
      opacity: 0.7;
    }
  }

  .carousel-card:hover {
    background:  rgba(var(--color-card));
    -webkit-box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
    box-shadow: 10px 5px 18px 0 rgba(255, 255, 255, 0.877);
    &, .carousel-content {
      opacity: 1;
    }
    
  }

  .carousel-img{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin-top: 10px;
    border: 2px var(--white) solid;
  }

  .carousel-content p{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
  }

  .carousel-card:hover {
    transition: 1s ease-in-out;
    box-shadow: inset 5px 5px 20px 0px rgba(var(--color-card));
  }
  .carousel-card:hover .carousel-content p{
    opacity: 1;
    visibility: visible;
}


  .carousel-content p{
    margin: 10%;
    color: var(--white);
  }
  