
.result-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-nav-btn {
  background-color: transparent;
  font-weight: 600;
  color: var(--white);
  outline: none;
  border: none;
  font-size: 1em;
  text-transform: capitalize;
  cursor: pointer;

  &:hover{
    color: var(--blue)
  }
  &:active,
  &:focus{
    color: var(--blue);
    text-decoration-line: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: .2em;
    text-underline-offset: .5em;
  }

}

.result-nav-btns {
  border-radius: 2em;
  padding: .8em 0em;
  display: flex;
  gap: 1.5em;
}

.r-user-pic {
  border-radius: 1em;
}


.sort-btn {
  color: white;
  display: flex;
  align-items: center;
}

.sort-btn-icon {
  width: 16px;
  height: 15px;
  margin: 0em .5em;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background-color: #d9d9d9ec;
  color: black;
  align-items: start;
  padding: 1em 1.5em;
  border-radius: 1em;
  height: 200px;
}

.results-data {
  display: flex;
  gap: .5em;
  flex-direction: column;
  align-items: flex-start;
}

.results-section {
  background-color: #D1D1D180;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: 1em;
}

.r-section-h1 {
  text-align: center;
  font-weight: 700;
}

.result-link{
  text-decoration: none;
  height: fit-content;
}


.results-type{
  opacity: 50%;
  font-size: .8em;
}

.results-list{
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
}
.r-profile{
  display: flex;
  gap: 1em;
  align-items: center;
}


.results-container{
  background-color: #D1D1D180;
  padding: 2em;
  border-radius: .5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.results-container > ul{
  list-style: none;
}

.text-container {

  font-size: .9em;
  height: 6em; 
  overflow: hidden; 
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  text-overflow: ellipsis; 
  word-wrap: break-word; 
  line-height: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(56, 55, 55);
}