* {
  padding: 0;
  margin: 0;
  text-align: start;
}

p{
  padding: 0;
  margin: 0;
  font-size: 1em;
}

h2{
  padding: 0;
  margin: 0;
}

.result-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result-nav-btn {
  background-color: transparent;
  font-weight: 600;
  color: black;
  outline: none;
  border: none;
  font-size: 1em;
  text-transform: capitalize;
  cursor: pointer;

  &:hover{
    color: var(--blue)
  }
  &:focus{
    color: var(--blue);
    text-decoration-line: underline;
    text-decoration-color: var(--yellow);
    text-decoration-thickness: .2em;
    text-underline-offset: .5em;
  }

}

.result-nav-btns {
  background-color: white;
  border-radius: 2em;
  padding: .8em 2.5em;
  display: flex;
  gap: 1.5em;
}

.r-user-pic {
  border-radius: 100em;
}

.r-project-pic {
  border-radius: 1em;
}

.sort-btn {
  color: white;
}

.sort-btn-icon {
  width: 16px;
  height: 15px;
  margin: 0em .5em;
}

.results {
  display: flex;
  gap: 3em;
  background-color: #D9D9D9;
  color: black;
  align-items: center;
  padding: 1em 1.5em;
  border-radius: 1em;
}

.results-data {
  display: flex;
  gap: .5em;
  flex-direction: column;
  align-items: flex-start;
}

.results-section {
  background-color: #D1D1D180;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  border-radius: 1em;
}

.r-section-h1 {
  text-align: center;
  font-weight: 700;
}

.result-link{
  text-decoration: none;
}


.results-type{
  font-weight: 600;
  opacity: 50%;
  text-shadow: #D1D1D180;
}

.results-list{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.results-container{
  background-color: #D1D1D180;
  width: 70%;
  padding: 2em;
  margin: 2em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-self: center;

}

.results-container > ul{
  list-style: none;
}